<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Phone</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script
            src="https://apis.google.com/js/platform.js"
            async
            defer
        ></script>
    </head>
    <body>
        <nav class="navbar">
            <h1>Заявки</h1>
            <div class="nav-container">
                <button class="nav-btn" id="navBtn">Новая заявка</button>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>num</th>
                    <th>text</th>
                    <th>date</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody ID="tableBody"></tbody>
        </table>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/action_page.php" id="myForm">
                    <label for="formID">ID:</label><br />
                    <input
                        type="number"
                        id="formID"
                        name="id"
                        value=""
                        readonly="false"
                    /><br />
                    <label for="formNum">num:</label><br />
                    <input
                        type="number"
                        id="formNum"
                        name="number"
                        value=""
                    /><br />
                    <label for="formText">text:</label><br />
                    <input
                        type="text"
                        id="formText"
                        name="text"
                        value=""
                    /><br />
                    <label for="formDate">date:</label><br />
                    <input
                        type="date"
                        id="formDate"
                        name="date"
                        value=""
                    /><br /><br />
                    <input type="submit" value="создать" />
                </form>
            </div>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
